[submodule "Databases/MillenniumDB/MillenniumDB"]
	path = Databases/MillenniumDB/MillenniumDB
	url = https://github.com/MillenniumDB/MillenniumDB
[submodule "Datasets/RPQBench/LD-RPQB"]
	path = Datasets/RPQBench/LD-RPQB
	url = https://github.com/Mamenglu/LD-RPQB
[submodule "Databases/RPQ-matrix/rpq-matrix"]
	path = Databases/RPQ-matrix/rpq-matrix
	url = https://github.com/adriangbrandon/rpq-matrix
[submodule "Databases/MillenniumDB-old/MillenniumDB"]
	path = Databases/MillenniumDB-old/MillenniumDB
	url = https://github.com/MillenniumDB/MillenniumDB
[submodule "Databases/Databases/RPQ-matrixGB/rpq-matrixgb"]
	path = Databases/Databases/RPQ-matrixGB/rpq-matrixgb
	url = https://github.com/suvorovrain/rpq-matrix.git
	branch = gbmod
[submodule "Databases/RPQ-matrixGB/rpq-matrixgb"]
	path = Databases/RPQ-matrixGB/rpq-matrixgb
	url = https://github.com/suvorovrain/rpq-matrix.git
	branch = gbmod
